doctype html
html
  head
    style
      include CSSInternational.css
    link(rel='stylesheet', type='text/css', href='CSSInternational.css')
    script(src='//code.jquery.com/jquery.min.js')
    include CompanyNavigation.jade
  #nav
  body
    .page
    .main
      p
        | Welcome to the CSSInternational Website!