doctype html
html
  head
    style
      include CSSInternational.css
    link(rel='stylesheet', type='text/css', href='CSSInternational.css')
    script(src='//code.jquery.com/jquery.min.js')
    include CompanyNavigation.jade
  #nav
  body
    .page
      .main
        table#keywords(cellspacing='10', cellpadding='0')
          thead
            tr
              th
                span Contract ID
              th
                span Contractor Name
              th
                span Subcontractor Agreement
              th
                span Subcontractor Contact
              th
                span Statement of Work
              th
                span W-9
              th
                span General Liability
              th
                span Payment Authorization
              th
                span Date
          tbody
            tr
              - for( var i = 0; i < results.length; i++ ) {
                - var contrID = results[i].contract_ID;
                - var contrName = results[i].contact_name
                - var sagreePath = results[i].sagreement_form_path
                - var scontaactPath = results[i].scontact_form_path
                - var sowPath = results[i].sow_form_path
                - var w9Path = results[i].w9_form_path
                - var liabilityPath = results[i].liability_form_path
                - var paymentPath = results[i].payment_form_path
                - var datee = results[i].date
                td 
                  -if (typeof contrID !== 'undefined' && contrID)
                    !{contrID}
                  -else
                    p Null
                td
                  -if (typeof contrName !== 'undefined' && contrName)
                    !{contrName}
                  -else
                    p Null
                td 
                  -if (typeof sagreePath !== 'undefined' && sagreePath)
                    a.button(href='public/forms/subcontractor-agreement.pdf', download='') Download
                  -else
                    p Null
                td 
                  -if (typeof scontaactPath !== 'undefined' && scontaactPath)
                    a.button(href='public/forms/subcontractor-agreement.pdf', download='') Download
                  -else
                    p Null
                td
                  -if (typeof sowPath !== 'undefined' && sowPath)
                    a.button(href='public/forms/subcontractor-agreement.pdf', download='') Download
                  -else
                    p Null
                td
                  -if (typeof w9Path !== 'undefined' && w9Path)
                    a.button(href='public/forms/subcontractor-agreement.pdf', download='') Download
                  -else
                    p Null
                td 
                  -if (typeof liabilityPath !== 'undefined' && liabilityPath)
                    a.button(href='public/forms/subcontractor-agreement.pdf', download='') Download
                  -else
                    p Null
                td
                  -if (typeof paymentPath !== 'undefined' && paymentPath)
                    a.button(href='public/forms/subcontractor-agreement.pdf', download='') Download
                  -else
                    p Null
                td
                  -if (typeof datee !== 'undefined' && datee)
                    !{datee}
                  -else
                    p Null
                tr
              - }
        #norm

