doctype html
html
  head
    style
      include CSSInternational.css
    link(rel='stylesheet', type='text/css', href='CSSInternational.css')
    script(src='//code.jquery.com/jquery.min.js')
    include Navigation.jade
  #nav
  body
    .page
      .main
        table#keywords(cellspacing='0', cellpadding='0')
          thead
            tr
              th
                span Contractor ID
              th
                span Contract ID
              th
                span Subcontractor Agreement
              th
                span Subcontractor Contact
              th
                span Statement of Work
              th
                span W-9
              th
                span General Liability
              th
                span Payment Authorization
              th
                span Date
          tbody
        #norm

