header {
    background-image: url("Unknown.png");
    background-repeat: no-repeat;
    background-position:center;
    padding-top: 10px;
    width: 100%;
    height: 65px;
    font-size:45px;
    font-family:baskerville old face;
    text-align: center;
    background-color:white;
    position:fixed;
    top:0;
}

h2{
  text-align:center;
}

.main {
	background-color: #f8f8ff;
    padding-top: 50px;
    padding-left: 0px;
    width: calc(80% - 40px);
    max-width: 1000px;
    margin: 0 auto;
    text-indent: 0px;
    float:center;
    top:0;
    bottom:0;
 }

 .page {
    background-color: #f8f8ff;
    text-align: justify;
    max-width: 1000px;
    margin: 0 auto;
    width: calc(80% - 200px);
    float:center;
    top:0;
    bottom:0;
 }

 .home {
    color:black;
    text-align:center;
    text-decoration: none;
    float:left;
    width: 100%;
    font-size:45px;
    text-transform:none;
    font-family:baskerville old face;
    background-color:white;
 }
 
 #column1 {
 	float:left; 
    margin:0; 
    width:50%;
 }
 
 #column2 {
 	float:right; 
    margin:0; 
    width:50%;
 }
 
 #norm {
 width:100%;
 float:left;
 margin: 0;
 }


body {
    background-color: #f8f8ff;
    text-align: justify;
    margin: 0 auto;
    top:0;
    bottom:0;
}

ul {
	padding-left: calc(50% - 125px);
    list-style-type: none;
    margin: 0;
    padding-top: 75px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.button {
	position: relative;
	top: 10px;
    background: #333;
    background: linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    padding:3px;
    color:#fff;
    font-family:'Times',sans-serif;
    text-decoration: none;
    font-size:14px;
    border-radius:4px;
    border:1px solid gray
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.button-bar {
  padding: 50px;
  position:relative;
  top:50px;
}
/* General Button */
/* -------------- */
.button2 {
  position: relative;
  margin: 0;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 2.8px;
  padding-bottom: 2.8px;
  background: #595959;
  color: white;
  font-size: 14px;
}

.next{
float:right;
}

.prev{
float:left;
}

.button2::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
}
.button2:hover {
  background: #808080;
}
/* Arrow Buttons */
/* ------------- */
.next::after,
.prev::after {
  border-style: solid;
}
/* Next Button */
/* ----------- */
.next::after {
  right: -22px;
  border-width: 11px;
  border-color: transparent transparent transparent #595959;
}
.next:hover::after {
  border-left-color: #808080;
}
/* Prev Button */
/* ----------- */
.prev::after {
  left: -22px;
  border-color: transparent #595959 transparent transparent;
  border-width: 11px;
}
.prev:hover::after {
  border-right-color: #808080;
}



