doctype html
html
  head
    style
      include CSSInternational.css
    link(rel='stylesheet', type='text/css', href='CSSInternational.css')
    script(src='//code.jquery.com/jquery.min.js')
    include Navigation.jade
  #nav
  body
    .page
      .main
        h2 Expense Policy
        p
          | Expense Policy Manual - Vendors, Subcontractors and Third Party Resources
          br
          br
          | Email Kirsten Mack (Kirsten_Mack@CSSus.com) in order to receive information.
        | Download Form:
        br
        a.button(href='public/forms/CSS_Expense_Policy__1_.pdf', download='') Download
        br
        br
        #norm
          br
          br
          div(style='text-align:center')
            | Subcontractor Agreement >> Subcontract Contact >> CSS Statement of Work >> W-9 >> General Liability >> Payment Authorization >> 
            b Time and Expense Entry 
          a.button-bar.button2.prev(href='PaymentAuthorization') Previous
