doctype html
html
  head
    style
      include CSSInternational.css
    link(rel='stylesheet', type='text/css', href='CSSInternational.css')
    script(src='//code.jquery.com/jquery.min.js')
    include Navigation.jade
  #nav
  body
    .page
      .main
        p
          | CSSInternational requires the completion of several forms to onbaord contractors.  These forms will be found here and must be downloaded, completed, and uploaded to this site.  You may begin the forms by going to the first form by clicking 
          a(href='SubcontractorAgreement.jade')
          |  and go through each form by clicking the next button, or by choosing forms individually on the drop down list of forms.  Please have your Contract ID number to submit with each form.

        p A description of each form is found below.

        p Subcontractor Agreement: Subcontractors seeking to do business with CSS are required to complete and return a Subcontractor Agreement before performing any services on behalf of CSS at our client site.

        p Subcontractor Contact: All subcontractors of CSS are required to complete the Subcontractor Contact form.  This form enables us to better utilize our resources when future projects opportunities become available.  Your information will be kept completely confidential and will only be accessible to members of management as needed.

        p W-9: All vendors working with CSS are required to complete and return a W-9 form. These forms are used to certify the accuracy of taxpayer identification number (TIN) provided.

        p General Liability: CSS requires vendors and all subcontractors to provide verification of General Liability and Worker’s Compensation Insurance coverage to include listing CSS International, Inc. and the assigned Client’s Name as additional insureds within ten (10) business days of accepting an assignment.

        p Payment Authorization: CSS offers vendors the option of receiving payments via traditional methods (ie. check) or via Electronic Funds Transfer (ie. ACH and Wire Transfer).  Payments are made semi-monthly in accordance with the reimbursement schedule contained in the Expense Policy manual.

        p Statement of Work: The CSS Statement of Work (SOW) provides details pertaining to aspects of your assignment including but not limited to: timeline, pricing, expense procedures and reporting structure of a specified project. Every SOW contains information relevant to the current project that a subcontractor has been assigned.

        p Expense Policy Manual - Vendors, Subcontractors and Third Party Resources


