doctype html
html
  head
    style
      include CSSInternational.css
    link(rel='stylesheet', type='text/css', href='CSSInternational.css')
    script(src='//code.jquery.com/jquery.min.js')
    include Navigation.jade
  #nav
  body
    .page
      .main
        h2 General Liability
        p CSS requires vendors and all subcontractors to provide verification of General Liability and Worker’s Compensation Insurance coverage to include listing CSS International, Inc. and the assigned Client’s Name as additional insureds within ten (10) business days of accepting an assignment.
        p
          b Note:
          |  CSS reserves the right to hold payments to vendors who have not provided the proper proof of insurance.
        br
        br
        #column1
          | Download Form:
          br
          a.button(href='public/forms/CSS_-_Request_for_COI_Letter.docx', download='') Download
          br
          br
        #column2
          form(action='', enctype='multipart/form-data', method='post')
            span(style='float: right') Upload Form:
            br
            input.button(type='submit', style='top: 5px; float: right', value='Send')
            input#file.inputfile(type='file', name='datafile', size='40')
            label.button(for='file', style='top: 7px; float: right') Choose file
        #norm
          a.button-bar.button2.prev(href='W9') Previous
          a.button-bar.button2.next(href='PaymentAuthorization') Next



