doctype html
html
  head
    style
      include CSSInternational.css
    link(rel='stylesheet', type='text/css', href='CSSInternational.css')
    script(src='//code.jquery.com/jquery.min.js')
    include Navigation.jade
  #nav
  body
    .page
      .main
        h2 WELCOME TO YOUR CSS PROJECT! 

        p
          | CSSInternational requires the completion of several forms to onboard contractors.  These forms will be
          | This page will walk you through all of the necessary tasks in order to be on-boarded to your project as 
          | a CSS Contractor. Each step has specific instructions that need to be completed before starting your project.
        p
        h3 Questions
        p
        
          | Any questions related to the Required Documentation or our invoicing and payment process should be directed to 
          | Kirsten Mack, Accounting & Contracts Manager:
        p
          | 800-814-7705 or via email to Kirsten_Mack@CSSus.com.