doctype html
html
  head
    style
      include CSSInternational.css
    link(rel='stylesheet', type='text/css', href='CSSInternational.css')
    script(src='//code.jquery.com/jquery.min.js')
    include Navigation.jade
  #nav
  body
    .page
      .main
        h3 Current Contractor Needs:
        p -JDE Developers for March 2016 projects.
        br
        br
        h3 CSS Full Time Positions:
        p For current job opportunities, visit our LinkedIn page:
        img(alt="https://www.linkedin.com/company/css-international/careers?trk=top_nav_careers" src="/public/images/linkedin-button.png")