header
  
ul
  li
    a.active(href='/') Home
  li
    .dropdown
      a.dropbtn(href='FormHome') Forms
      .dropdown-content
        a(href='SubcontractorAgreement') Subcontractor Agreement
        a(href='SubcontractorContact') Subcontractor Contact
        a(href='StatementOfWork') CSS Statement of Work
        a(href='W9') W-9
        a(href='GeneralLiability') General Liability Form
        a(href='PaymentAuthorization') Payment Authorization
        a(href='ExpensePolicy') Time and Expense Entry
  li
    a(href='Jobs') Jobs

