doctype html
html
  head
    style
      include CSSInternational.css
    link(rel='stylesheet', type='text/css', href='CSSInternational.css')
    script(src='//code.jquery.com/jquery.min.js')
    include CompanyNavigation.jade
  #nav
  body
    .page
      .main
        h2 Create New Contract
        form#newContract
          | Contract ID:
          input#contractID(type='number', placeholder='here')
		    form(action='/createContract', enctype='multipart/form-data', method='post')
            span(style='float: right') Create new contract:
            br
            input.button(type='submit', style='top: 5px; float: right', value='Send')
            input#file.inputfile(type='file', name='datafile', size='40')
            label.button(for='file', style='top: 7px; float: right') Choose file


