doctype html
html
  head
    style
      include CSSInternational.css
    link(rel='stylesheet', type='text/css', href='CSSInternational.css')
    script(src='//code.jquery.com/jquery.min.js')
    include CompanyNavigation.jade
  #nav
  body
    .page
      .main
        h2 Create New Contract
        form#newContract
          | ContractorID:
          input#contractorID(type='number', placeholder='here')
          br
          | ContractID:
          input#contractID(type='number', placeholder='here')


