doctype html
html
  head
    style
      include CSSInternational.css
    link(rel='stylesheet', type='text/css', href='CSSInternational.css')
    script(src='//code.jquery.com/jquery.min.js')
    include Navigation.jade
  #nav
  body
    .page
      .main
        h2 Statement of Work
        p The CSS Statement of Work (SOW) provides details pertaining to aspects of your assignment including but not limited to: timeline, pricing, expense procedures and reporting structure of a specified project. Every SOW contains information relevant to the current project that a subcontractor has been assigned.
          br
          br
          | Each time you accept a new assignment with CSS, a new SOW must be completed.
          br
          br
          b Note:
          |  The SOW must be countersigned and submitted a minimum 
          b five (5) days
          |  prior to performing any services on behalf of CSS.
        br
        br
        #column1
        #column2
          form(action='/upload/StatementOfWork', enctype='multipart/form-data', method='post')
            span(style='float: right') Upload Form:
            br
            input.button(type='submit', style='top: 5px; float: right', value='Send')
            input#file.inputfile(type='file', name='datafile', size='40')
            label.button(for='file', style='top: 7px; float: right') Choose file
        #norm
          a.button-bar.button2.prev(href='SubcontractorContact') Previous
          a.button-bar.button2.next(href='W9') Next

