doctype html
html
  head
    style
      include CSSInternational.css
    link(rel='stylesheet', type='text/css', href='CSSInternational.css')
    script(src='//code.jquery.com/jquery.min.js')
    include Navigation.jade
  #nav
  body
    .page
      .main
        h2 Subcontractor Contact
        p All subcontractors of CSS are required to complete the Subcontractor Contact form.  This form enables us to better utilize our resources when future projects opportunities become available.  Your information will be kept completely confidential and will only be accessible to members of management as needed.
          br
          br
          | Upload the completed form a minimum 
          b five (5) days
          |  prior to performing any work on behalf of CSS.
        br
        br
        form
          Social Security Number:
          br
          input#SSN(type='number')
          br
          Federal TaxID/EIN:
          br
          input#TaxID(type='number')
          br
          Company Name:
          br
          input#CompanyName(type='text')
          br
          Company Contact:
          br
          input#CompanyContact(type='text')
          br
          Cell Phone:
          br
          input#Cell(type='number')
          br
          Alternative Phone:
          br
          input#AltPhone(type='number')
          br
          Emai Address:
          br
          input#Email Address(type='text')
          br
          br
          b Billing Address:
          Address 1:
          br
          input#Address1(type='text')
          br
          Address 2:
          br
          input#Address2(type='text')
          br
          City:
          br
          input#City(type='text')
          br
          State:
          br
          input#State(type='text')
          br
          Company Contact:
          br
          input#Zipcode(type='number')
          input#submit(type='submit')

        #norm
          a.button-bar.button2.prev(href='SubcontractorAgreement') Previous
          a.button-bar.button2.next(href='W9') Next

