doctype html
html
  head
    style
      include CSSInternational.css
    link(rel='stylesheet', type='text/css', href='CSSInternational.css')
    script(src='//code.jquery.com/jquery.min.js')
    include Navigation.jade
  #nav
  body
    .page
      .main
        h2 Subcontractor Agreement
        p Subcontractors seeking to do business with CSS are required to complete and return a Subcontractor Agreement before performing any services on behalf of CSS at our client site.
        p Please download, complete, and sign this form.  Upload the finished form here.
        br
        br
        #column1
          | Download Form:
          br
          a.button(href='public/forms/subcontractor-agreement.pdf', download='') Download
          br
          br
        #column2
          form(action='/upload/SubcontractorAgreement', enctype='multipart/form-data', method='post')
            span(style='float: right') Upload Form:
            br
            span.fileUpload.button(style='float:right; margin:0px')
              | Choose File
              input#file.upload(type='file', name='datafile', size='40000', onchange='myf(this.files[0].name)')
              br
              br
              br
              input#uploadFile(style='float:right; background-color: #f8f8ff; text-align:right', placeholder='0 files selected', disabled='disabled')
              br
              br
              input.button(type='submit', style='float: right', value='Send')
        #norm
          br
          br
          br
          span(style='text-align:center')
            | b
            |  Subcontractor Agreement
            | >> Subcontractor Contact >> CSS Statement of Work >> W-9 >> General Liability >> Payment Authorization >> Time and Expense Entry
          br
          br
          a.button-bar.button2.next(href='SubcontractorContact') Next

