doctype html
html
  head
    style
      include CSSInternational.css
    link(rel='stylesheet', type='text/css', href='CSSInternational.css')
    script(src='//code.jquery.com/jquery.min.js')
    include Navigation.jade
  #nav
  body
    .page
      .main
        h2 Subcontractor Contact
        p All subcontractors of CSS are required to complete the Subcontractor Contact form.  This form enables us to better utilize our resources when future projects opportunities become available.  Your information will be kept completely confidential and will only be accessible to members of management as needed.
          br
          br
          | Upload the completed form a minimum 
          b five (5) days
          |  prior to performing any work on behalf of CSS.
        br
        br
        #column1
          | Download Form:
          br
          a.button(href='public/forms/Subcontractor_Contact_Form.pdf', download='') Download
          br
          br
        #column2
          #column2
          form(action='', enctype='multipart/form-data', method='post')
            span(style='float: right') Upload Form:
            br
            input.button(type='submit', style='top: 5px; float: right', value='Send')
            input#file.inputfile(type='file', name='datafile', size='40')
            label.button(for='file', style='top: 7px; float: right') Choose file
        #norm
          a.button-bar.button2.prev(href='“SubcontractorAgreement.jade“') Previous
          a.button-bar.button2.next(href='“W9.jade“') Next

