doctype html
html
  head
    style
      include CSSInternational.css
    link(rel='stylesheet', type='text/css', href='CSSInternational.css')
    script(src='//code.jquery.com/jquery.min.js')
    include Navigation.jade
  #nav
  body
    .page
      .main
        h2 W-9
        p All vendors working with CSS are required to complete and return a W-9 form. These forms are used to certify the accuracy of taxpayer identification number (TIN) provided.
          br
          br
          | Print, complete and sign the W-9 form at minimum 
          b five (5) days
          |  prior to performing any services on behalf of CSS.
        br
        br
        #column1
          | Download Form:
          br
          a.button(href='public/forms/Form_W-9.pdf', download='') Download
          br
          br
        #column2
          form(action='/upload/W9', enctype='multipart/form-data', method='post')
            span(style='float: right') Upload Form:
            br
            span.fileUpload.button(style='float:right; margin:0px')
              | Choose File
              input#file.upload(type='file', name='datafile', size='40000', onchange='myf(this.files[0].name)')
              br
              br
              br
              input#uploadFile(style='float:right; background-color: #f8f8ff; text-align:right', placeholder='0 files selected', disabled='disabled')
              br
              br
              input.button(type='submit', style='float: right', value='Send')
        #norm
          a.button-bar.button2.prev(href='StatementOfWork') Previous
          a.button-bar.button2.next(href='GeneralLiability') Next

